*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}.hero-content{
    max-width: 100%;
    height: 700px;
    position: relative; 
    display: flex;
    justify-content: space-around;

}.hero-name{
    top: 15%;
    left: 10%;
    transform: translate(15%,10%); 
}.hero-name h1{
    font-size: 60px;
    color: rgb(90, 74, 85);
    font-family: cursive;
    text-transform: uppercase;
    animation: bounce;

}.hero-name span{
    font-size: 85px;
    color: rgb(32, 36, 25);
    padding:0px;
    margin-top: 10px;
    text-transform: uppercase;
    animation: slidein 3s linear 1s;
}@keyframes slidein{
    from {transform: scaleX(0);}
    to{transform: scaleX(1);}
}


.hero-name p{
    font-size: 18px;
    color: grey;
    width: 550px;
    letter-spacing: .4px;
}.hero-name button{
    width:170px;
    height: 40px;
    border: 2px solid red;
    outline: none;
    background-color: tomato;
    color: white;
    border-radius: 15px;
    text-transform: uppercase;
    transition: all .5s linear;
    margin-top: 50px;
} button:hover{
    box-shadow: 0 2px 0 #959697;
}.hero-img{
    height: 500px;
    max-width: 800px;
    background-color: blueviolet;
}

.home{
    display: flex;
    justify-content: space-around;
}

























/* HomeScreen content */
.containers{
    display: flex;
    float: center;
    justify-content: center;
    align-items: center;
}
.food-app{
    width: 300px;
    height: 400px;
    background:rgb(245, 243, 243);
    box-shadow:-4px 0px 10px 1px #ccc;
    border-radius: 10px;
    margin: 30px;
    float: left;

}.food-item1{
    width: 300px;
    padding: 20px 13px;
}.food-item1 .img1{
    border-radius: 10px;

}.food-name{
    padding-top: 10px;
    display: block;
    align-items:stretch;
    padding:  10px;
}.food-name h1{
    font-size: 22px;
    font-family: cursive;
    color: rgb(116, 90, 111);
}.food-name p{
    padding-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #383838;
}.food-order {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 10px;
}.food-order span{
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}.food-order .btn-order{
    padding: 10px;
    border-radius: 4px;
    color: rgb(65, 50, 77);
    font-size: 14px;
    outline: none;
    border: 2px solid green;
    font-weight:600;
}.food-order .btn-order:hover{
    background: black;
    color: white;
    border: 2px solid yellowgreen;
}



@media  (max-width:600px){
    .home{
        flex-wrap: wrap;
    }.hero-img{
        width: auto;
        height: auto;
        display: block;
    }.hero-content{
        display: block;
        text-align: center;
        align-items: center;

    }.hero-img{
        width: 100%;
    }.hero-name{
        top: 5%;
        left: 0%;
        transform: translate(5%,0%); 

    }.hero-name h1{
        font-size: 30px;
        color: rgb(90, 74, 85);
        font-family: cursive;
        text-transform: uppercase;
        animation: bounce;
    
    }.hero-name span{
        font-size: 35px;
        color: rgb(32, 36, 25);
        padding:0px;
        margin-top: 10px;
        text-transform: uppercase;
        animation: slidein 3s linear 1s;
    }@keyframes slidein{
        from {transform: scaleX(0);}
        to{transform: scaleX(1);}
    }
    
    
    .hero-name p{
        font-size: 18px;
        color: grey;
        width: auto;
        letter-spacing: .4px;
    } button{
        width:170px;
        height: 40px;
        border: 2px solid red;
        outline: none;
        background-color: tomato;
        color: white;
        border-radius: 15px;
        text-transform: uppercase;
        transition: all .5s linear;
    }.hero-btn button:hover{
        transform: translateY(3px);
        box-shadow: 0 2px 0 #959697;
    }
}